<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @event.title %>
</p>

<p>
  <strong>Description:</strong>
  <%= @event.description %>
</p>

<p>
  <strong>Start:</strong>
  <%= @event.start %>
</p>

<p>
  <strong>End:</strong>
  <%= @event.end %>
</p>

<p>
  <strong>Location:</strong>
  <%= @event.location %>
</p>

<p>
  <strong>Organizer:</strong>
  <%= @event.organizer.name %> (<%= @event.organizer.id %>)
</p>

<p>
  <strong>Tags:</strong>
  <%= @event.tags.join(", ") %>
</p>

<p>
  <strong>Participants (<%= @event.event_participants.size %>):</strong>
  <%= @event.participants.map{|p| "#{p.name} (#{p.id})" }.join(', ') %>
</p>

<%= link_to 'Edit', edit_event_path(@event) %> |
<%= link_to 'Back', events_path %>
